.FavList {
  border-right: 1px solid #eee;
  position: fixed;
    bottom: 0;
    left: 0;
    top: 38px;
  width: 200px;
}

.FavList em,
.FavList h2,
.FavList li,
.FavList small {
  padding: 10px;
}

.FavList em,
.FavList h2,
.FavList small {
  padding-bottom: 20px;
  padding-top: 20px;
}

.FavList li {
  color: #666;
  font-size: 12px;
}

.FavList img {
  height: 17px;
  position: absolute;
    left: 10px;
    top: 10px;
}

.FavList > ul > li {
  background: #f9f9f9;
  font-weight: 400;
  padding-left: 35px;
  position: relative;
}

.FavList > ul > li:after {
  content: "▾";
  position: absolute;
    right: 10px;
    top: 9px;
}

.FavList em,
.FavList small {
  color: #999;
  display: block;
  text-align: center;
}