.Notification {
  border: solid #fff;
  border-width: 0 1px 1px;
  cursor: default;
  margin: auto;
  padding: 15px 30px 15px 15px;
  position: fixed;
    left: 0;
    right: 0;
    top: 0;
  user-select: none;
  width: 400px;
  z-index: 10;
}

.Notification.success {
  background: #CAF9CC; /* #A6EF89 */
}
.Notification.info {}
.Notification.warning {}
.Notification.danger {
  background: #F9CACA;
}

.Notification .close-button {
  display: block;
  font-size: 20px;
  padding: 14px;
  position: absolute;
    right: 0;
    top: 0;
}

/* incomplete state */
.slide-vertical-enter {
  opacity: 0;
  transition: all .2s linear;
  top: -50px;
}

/* complete state */
.slide-vertical-enter.slide-vertical-enter-active {
  opacity: 1;
  top: 0;
}

/* incomplete state */
.slide-vertical-leave {
  opacity: 1;
  top: 0;
}

/* complete state */
.slide-vertical-leave.slide-vertical-leave-active {
  opacity: 0;
  transition: all .2s linear;
  top: -50px;
}