.SettingsView form {
}

.SettingsView label {
  box-sizing: border-box;
  color: #999;
  display: inline-block;
  padding: 10px;
}

.SettingsView label input {
  background: 0;
  display: block;
  margin-top: 1px;
  width: 100%;
}

.SettingsView label input[type="password"],
.SettingsView label input[type="text"] {
}

.SettingsView label span {
  color: #aaa;
  font-size: 12px;
  font-weight: 500;
}

.half-width {
  width: 50%;
}

.quarter-width {
  width: 25%;
}

.SettingsView li {
  border-bottom: 1px solid #eee;
  list-style: none;
}

.SettingsView li input {
  border: 0;
}