.icon-connection-f {
  fill: #B6C7DD;
}
.icon-connection-m {
  fill: #8EA2BD;
}
.icon-db path {
  fill: #8EA2BD;
}
.icon-db path:nth-of-type(2) {
  fill: #B6C7DD;
}

tiny-badge {
  color: #ccc;
  float: right;
  margin-right: 16px;
  text-align: right;
  font-weight: 100;
  margin-top: -1px;
}
