.SettingsGear {
  background: url("../images/gear.svg") center no-repeat;
  background-size: 20px;
  display: inline-block;
  height: 20px;
  padding: 9px;
  width: 20px;
  vertical-align: top;
}

.SettingsGear:hover {
  background-image: url("../images/gear-hover.svg");
}