@import "./vars";

.SideBar {
  border-right: 1px solid #eee;
  position: fixed;
    bottom: 0;
    left: 0;
    top: 38px;
  width: var(--sidebar-width);
}

.SideBar Link,
.SideBar a,
.SideBar em,
.SideBar h2,
.SideBar small {
  padding: 10px;
}

.SideBar em,
.SideBar h2,
.SideBar small {
  padding-bottom: 20px;
  padding-top: 20px;
}

.SideBar Link,
.SideBar a {
  color: #666;
  font-size: 12px;
}

.SideBar img,
.SideBar svg {
  height: 17px;
  position: absolute;
    left: 10px;
    top: 10px;
  width: 17px;
}

.SideBar ul > li > a {
  border-top: 1px solid #eee;
  display: block;
  font-weight: 400;
  padding-left: 35px;
  position: relative;
  text-decoration: none;
  transition: background .1s linear;
}

.SideBar ul > li > a:after {
  content: "▾";
  position: absolute;
    right: 10px;
    top: 9px;
}

.SideBar ul > li > a:hover {
  background: #f9f9f9;
}

.SideBar ul > li:last-of-type > a {
  border-bottom: 1px solid #eee;
}

.SideBar em,
.SideBar small {
  color: #999;
  display: block;
  text-align: center;
}