@import "./vars";

.SideBar {
  border-right: 1px solid #eee;
  position: fixed;
    bottom: 0;
    left: 0;
    top: 38px;
  width: var(--sidebar-width);
}

.SideBar ul {
  border-bottom: 1px solid #eee;
}

.SideBar a,
.SideBar em,
.SideBar h2,
.SideBar small {
  padding: 10px;
}

.SideBar em,
.SideBar h2,
.SideBar small {
  padding-bottom: 20px;
  padding-top: 20px;
}

.SideBar a {
  border-top: 1px solid #eee;
  color: #666;
  display: block;
  font-size: 12px;
  font-weight: 400;
  padding-left: 35px;
  position: relative;
  text-decoration: none;
  transition: all .1s linear;
}

.SideBar a:after {
  content: "▾";
  font-weight: 100;
  position: absolute;
    right: 10px;
    top: 9px;
}

.SideBar a:hover {
  background: #f9f9f9;
}

.SideBar a.active {
  background: #f9f9f9;
  font-weight: 500;
}

.SideBar li ul {
  margin-bottom: -1px; /* collapse border-bottom */
}

.SideBar li ul a {
  background: #fff;
  font-weight: 400;
  padding: 5px 5px 5px 35px;
}

.SideBar li ul a svg {
  height: 13px;
  left: 12px;
  top: 8px;
  width: 13px;
}

.SideBar li ul a:after {
  content: "";
}

.SideBar img,
.SideBar svg {
  height: 17px;
  position: absolute;
    left: 10px;
    top: 10px;
  width: 17px;
}

.SideBar em,
.SideBar small {
  color: #999;
  display: block;
  text-align: center;
}