.TopHeader {
  background: #315F66;
  padding: 10px;
  position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.TopHeader h1 a {
  color: #79A0A6;
  text-decoration: none;
}

.TopHeader .pull-right {
  position: absolute;
    right: 0;
    top: 0;
  text-align: right;
  width: 200px;
}